// Fonts Mixin
@mixin all_fonts($fonts){
    @each $font in $fonts{
        @font-face {
            font-family: #{$font};
            src: url("../fonts/#{$font}/#{$font}-webfont.eot");
            src: url("../fonts/#{$font}/#{$font}-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/#{$font}/#{$font}-webfont.woff") format("woff"), url("../fonts/#{$font}/#{$font}-webfont.ttf") format("truetype"), url("../fonts/#{$font}/#{$font}-webfont.svg") format("svg");
            font-weight: normal;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
        }
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
            font-family: #{$font};
            src: url("../fonts/#{$font}/#{$font}-webfont.svg") format("svg");
        }
    }
}

// Breakpoint mixins
@mixin desktop {
    @media only screen and (min-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: $tablet) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (min-width: $mobile) {
        @content;
    }
}

// Font size Mixin (Rem with px fallback)
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

// usage: @include background-image('pattern');
// retina images and fallbacks
$image-path: '../img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
@mixin background-image($name, $size:false){
    background-image: url(#{$image-path}/#{$name}.svg);
    @if($size){
        background-size: $size;
    }
    .no-svg &{
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
          background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}

// Clearfix
%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// visually hidden for screen readers
%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}


@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}
